* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0 10%;
}

ul.nav {
  margin: 0;
  padding: 0;
  background-color: #68460c;
}

ul.nav li {
  display: inline;
}

ul.nav li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

ul.nav li a:hover {
  background-color: #555;
  transition: 0s;
}

ul.nav li a.active {
  color: #68460c;
  background-color: #FFF;
  font-weight: bold;
}

ul.nav li:hover { 
  background-color: #555;
  transition: 0s;
}

table {
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: #68460c;
  background: #eee;
  padding: 0px;
  border-spacing: 0px;
  margin: 10px 30px;
}

th {
  color: white;
  background-color: #68460c;
}

th, td {
  text-align: left;
  padding: 3px 15px;
}

td.trcell {
  color: green;
}

td.facell {
  color: red;
}

td.uicell {
  color: orange;
}


h1 {
  color: #68460c;
}

h2 {
  color: grey;
}
